body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4 {
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

a {
    color: #ff4655;
    text-decoration: none;
    transition: color 0.3s;
}
a:hover {
    color: #d93747;
}