.navbar {
    background-image: url('/src/img/sfondo.png'); // Assicurati che il percorso sia corretto
    background-size: cover;
    background-position: center;
    padding: 1.5rem 2rem;

    .navbar-brand {
        color: #ff4655;
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 0.1rem;
        display: flex;
        align-items: center;

        img {
            display: inline-block;
            max-height: 100px;
            width: auto;
            margin-right: 10px;
            content: url("/src/img/erwin logo.png");
        }
    }

    .nav-link {
        color: #b0b3b8;
        font-weight: 600;
        font-size: 1.5rem;
        padding: 0.75rem 2.5rem; 
        text-transform: uppercase;
        transition: color 0.3s, transform 0.3s;
        position: relative;
        letter-spacing: 0.05rem;
        margin-right: 1.5rem; 
    
        &:hover,
        &.active {
            color: #ff4655; 
            transform: translateY(-2px);
    
            &::after {
                content: '';
                position: absolute;
                bottom: -2px;
                left: 50%;
                transform: translateX(-50%);
                width: 6px;
                height: 6px;
                background-color: #ff4655;
                border-radius: 50%;
            }
        }
    }
    

    .register-btn {
        background-color: #ff4655;
        color: #f3f3f3;
        font-weight: bold;
        font-size: 1rem;
        padding: 0.6rem 1.4rem;
        border-radius: 0;
        box-shadow: none;
        text-transform: uppercase;
        transition: background-color 0.2s ease, transform 0.2s ease;
        margin-left: 1rem;
        display: inline-flex;
        align-items: center;

        &:hover {
            background-color: #e03b4c;
            transform: translateY(-2px);
        }
    }
}
